body{
background-color: lightGREEN;
  height:900px;
  width:1400px; 
}
.div1
{
background-color: white;
height:250px;
width:1400px
}
.div2
{
background-color: pink;
height:500px;
width:1400px;
}
.div3
{
background-color: yellow;
height:150px;
width:1400px
}
.div11{
height:250px;
width:350px;
float:LEFT;
}
.div12{
background-color:yellow;
  height:250px;
  width:700px; 
float:LEFT; 
}
.div13{
background-color:black;
  height:250px;
  width:350px; 
     float:left;
}
.div21{
  background-color:brown;
  height:250px;
  width:350px; 
   float:left;
}
.div22{
  background-color:white;
  height:250px;
  width:700px; 
   float:left;
}
.div23{
background-color:yellow;
 height:250px;
  width:350px; 
   float:left;
}

.div31{
background-color:red;
height:150px;
width:350px;
float:left;
}
.div32{
background-color:lightblue;
height:150px;
width:350px;
float:left;
}
.div33{
background-color:gray;
height:150px;
width:350px;
float:left;
}
.div34{
background-color:orange;
height:150px;
width:350px;
float:left;
}
.h1
{
font-size: 100px;
    text-align: center;
    color: Green;
  
}
th, td {

  border: 1px solid black;
}
table{
border:solid black;
border-space:100px;
}
